div {
  display: flex;
  width: 153px;
  height: 138px;
  padding-top: 17px;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  gap: 11px;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #563015;
  margin: 0 auto;
}

h1 {
  color: #000;
  font-family: Inter;
  font-size: 12px;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

img {
  border-radius: 0px 0px 9px 9px;
  display: block;
  width: 153px;
  height: 95px;
  padding: bottom 0;
}
